<div id="<%= dom_id quote %>">
  <p>
    <strong>Quote:</strong>
    <%= quote.quote %>
  </p>

  <p>
    <strong>Pub year:</strong>
    <%= quote.pub_year %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= quote.comment %>
  </p>

  <p>
    <strong>Is visible:</strong>
    <%= quote.is_visible %>
  </p>

  <p>
    <strong>Upload date:</strong>
    <%= quote.upload_date %>
  </p>

</div>
