<p style="color: green"><%= notice %></p>

<%= render @quote %>

<div>
  <!-- prevents edit button showing for unauthorised users (enforced in the quote controller) -->
  <% if logged_in? && (@quote.user_id == current_user.id || is_administrator?) %>
    <%= link_to "Edit this quote", edit_quote_path(@quote) %> |
  <% end %>
  <%= link_to "Back to quotes", quotes_path %>
<div style="padding-top:20px;">
<!-- prevents deletion button showing for unauthorised users (enforced in the quote controller) -->
<% if logged_in? && (@quote.user_id == current_user.id || is_administrator?) %>
  <%= button_to "Destroy this quote", @quote, method: :delete, class: 'btn btn-danger' %>
<% end %>
</div>
</div>
